/* @import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet'); */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #111111;
	max-width: 100vw;
	max-height: 100vh;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.project {
	height: 60vh;
	background-color: rgb(162, 22, 19);
	font-size: 1.3em;
	color: whitesmoke;
}
img {
	width: 100%;
}
.btn {
	background-color: rgb(136, 11, 9);
	padding: 1em;
	font-size: 1.3em;
	color: whitesmoke;
	margin-left: 1em;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	background-color: rgb(154, 11, 9);
	color: rgb(144, 181, 144);
}
.wrap {
	background-color: rgb(136, 11, 9);
	width: fit-content;
	margin: 10em auto;
	padding: 2em;
}
.cursive {
	font-family: Amatic SC, cursive;
	font-weight: 700;
}
.prose img {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.home-name {
	font-size: 150px;
}
